# K-라이스페스타 품평회 시스템의 개발 환경 구성 시 참고할 환경변수 템플릿 파일
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=3306
MYSQL_HOST_PORT=13306

BACKEND_PORT=8000
BACKEND_HOST_PORT=18000
DATABASE_URL=
